@model IEnumerable<SNCRegistration.ViewModels.VolunteersSaturdayOnlyModel>

@{
    ViewBag.Title = "Volunteers Saturday Only Report";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("VolunteersSaturdayOnly", "VolunteersSaturdayOnly", FormMethod.Post))
    {
    
    <h2>Volunteers Saturday Only Report</h2>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 text-right">
            <div class="col-sm-7"><h4>Select Event Year:</h4></div>
            <div class="col-sm-2">@Html.DropDownList("eventYear", new SelectList(ViewBag.ddlEventYears), new { @class = "form-control", onchange = "updateGrid()" })</div>
            <input type="submit" name="btnExportLicensing" value="Export To Excel" id="exportLicensing" class="btn btn-primary" />
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attending)
                </th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_PartialVolunteersSaturdayOnlyList", Model)
        </tbody>
    </table>
    }

@section scripts{
    <script>
        function updateGrid() {
            $.post('/VolunteersSaturdayOnly/GetVolunteersSaturdayOnlyByYear', { eventYear: $('#eventYear').val() }, function (data) {
                $('table tbody').html(data);
            })
        }
    </script>
}