@model IEnumerable<SNCRegistration.ViewModels.ParticipantsReportModel>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="col-md-4">
           
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Day of Report - Participants</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "GuardiansReport")">Guardians Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsReport")">Participants Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "FamilyFriendsReport")">Family Members and Friends Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "AldenRoadReport")">Alden Road Group Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsCheckedInCount")">Participants Check In Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsPendingCheckedInCount")">Participant Pending Check In Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParkingPass")">Parking Pass Report</a></li>
                            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsCoverSheet")">Participants Cover Sheet</a></li>
                        </ul>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>
 
    <div class="col-md-4">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">Day of Report - Volunteers</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersReport")">Volunteers Report</a></li>
                        <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersCountByGroup")">Volunteers Report By Group</a></li>
                        <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersCheckedInCount")">Volunteers Check In Report</a></li>
                        <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersPendingCheckedInCount")">Volunteers Pending Check In Report</a></li>
                        <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersCoverSheet")">Volunteers Cover Sheet</a></li>
                    </ul>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>


<div class="col-md-4">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3">Attending Reports</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsSaturdayOnly")">Participant Saturday Only Report </a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsOvernight")">Participant Overnight Report </a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersFridayOnly")">Volunteers Friday Only Report </a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersSaturdayOnly")">Volunteers Saturday Only Report </a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersFridayThruSunday")">Volunteers Friday Through Sunday Report</a></li>
                </ul>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">Admin Reports</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "CompletedRegistrationReport")">Completed Registration Report</a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "PendingRegistrationReport")">Incomplete Registration Report</a></li>
                     <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "FirstTimeAttendeeReport")">First-Time Attendee Report</a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "RepeatAttendeeReport")">Repeat Attendee Report</a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "TeeShirtOrdersReport")">Total T-Shirt Orders Report</a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "TeeShirtCountBySize")">T-Shirt Count By Size Report </a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "BoothCount")">Booth Report</a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "WristBandCount")">Wristband Report </a></li>
                    <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "FutureEvent")">Future Event Report</a></li>
                </ul>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>

