@model IEnumerable<SNCRegistration.ViewModels.ParticipantsReportModel>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action justify-content-between active"><h5>Reports</h5></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "ParticipantsReport")">Participants Count <span class="badge badge-default badge-pill">@ViewBag.ParticipantsCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersFridayOnly")">Volunteers Friday Only Count <span class="badge badge-default badge-pill">@ViewBag.VounteersFridayOnlyCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersSaturdayOnly")">Volunteers Saturday Only Count <span class="badge badge-default badge-pill">@ViewBag.VounteersSaturdayOnlyCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersFridayThruSaturday")">Volunteers Friday Through Saturday Count <span class="badge badge-default badge-pill">@ViewBag.VolunteersFridayThruSaturdayCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersOvernight")">Volunteers Overnight Count <span class="badge badge-default badge-pill">@ViewBag.VolunteersOvernightCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "VolunteersReport")">Volunteers Count <span class="badge badge-default badge-pill">@ViewBag.VolunteersCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "FamilyFriendsReport")">Family and Friends Count <span class="badge badge-default badge-pill">@ViewBag.FamilyMembersCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "PendingRegistrationReport")">Pending Registraion Count <span class="badge badge-default badge-pill">@ViewBag.PendingRegistrationCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "CompletedRegistrationReport")">Completed Registraion Count <span class="badge badge-default badge-pill">@ViewBag.CompletedRegistrationCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "FirstTimeAttendeeReport")">First-Time Attendee Count <span class="badge badge-default badge-pill">@ViewBag.FirstTimeAttendeeCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "RepeatAttendeeReport")">Repeat Attendee Count <span class="badge badge-default badge-pill">@ViewBag.RepeatAttendeeCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "TeeShirtOrdersReport")">T-Shirt Orders Count <span class="badge badge-default badge-pill">@ViewBag.TeeShirtOrdersCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "BoothCount")">Booth Count <span class="badge badge-default badge-pill">@ViewBag.BoothCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "WristBandCount")">Wristband Count <span class="badge badge-default badge-pill">@ViewBag.WristBandCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "PeopleCheckedInCount")">People Checkedin Count <span class="badge badge-default badge-pill">@ViewBag.PeopleCheckedInCount</span></a></li>
            <li class="list-group-item list-group-item-action justify-content-between"><a href="@Url.Action("Index", "AldenRoadReport")">Alden Road <span class="badge badge-default badge-pill">@ViewBag.AldenRoadCount</span></a></li>
        </ul>
    </div>
</div>





