@model SNCRegistration.ViewModels.LeadContact

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutL_Register.cshtml";
}


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <h4>Leader Information</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


  <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.LeadContactID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.LeadContactID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeadContactID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
-->
    @Html.LabelFor(model => model.LeadContactFirstName, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="row">
               
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LeadContactFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeadContactFirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        <br />

    @Html.LabelFor(model => model.LeadContactLastName, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="row">
            
            <div class="col-md-9">
                @Html.EditorFor(model => model.LeadContactLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactLastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
    @Html.LabelFor(model => model.LeadContactAddress, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="row">
            
            <div class="col-md-9">
                @Html.EditorFor(model => model.LeadContactAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
    @Html.LabelFor(model => model.LeadContactCity, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="row">
            
            <div class="col-md-9">
                @Html.EditorFor(model => model.LeadContactCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactCity, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        @Html.LabelFor(model => model.LeadContactState, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="row">

            <div class="col-md-9">
                @Html.EditorFor(model => model.LeadContactState, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactState, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
    @Html.LabelFor(model => model.LeadContactZip, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="row">
           
            <div class="col-md-9">
                @Html.EditorFor(model => model.LeadContactZip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactZip, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        @Html.LabelFor(model => model.LeadContactCellPhone, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="row">
                
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LeadContactCellPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeadContactCellPhone, "", new { @class = "text-danger" })
                </div>
            </div>
        <br />
        @Html.LabelFor(model => model.LeadContactEmail, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="row">
                
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LeadContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeadContactEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
        <div class="row">

            <div class="form-group">
                @Html.LabelFor(model => model.LeadContactShirtOrder, htmlAttributes: new { @class = "control-label col-md-3" })
                @Html.RadioButtonFor(model => model.LeadContactShirtOrder, true, new { id = "radio_LeadContactShirtOrder_True switch" }) Yes
                @Html.RadioButtonFor(model => model.LeadContactShirtOrder, false, new { id = "radio_LeadContactShirtOrder_False switch" }) No
                @Html.ValidationMessageFor(model => model.LeadContactShirtOrder, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />


            <div class="form-group">
                @Html.LabelFor(model => model.LeadContactShirtSize, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.LeadContactShirtSize,
            new List<SelectListItem>{
                new SelectListItem{ Value = "", Text = "-Select Size-" },
                 new SelectListItem{ Value = "YX", Text = "Youth - Extra Small" },
                new SelectListItem{ Value = "YS", Text = "Youth - Small" },
                new SelectListItem{ Value = "YM", Text = "Youth - Medium" },
                new SelectListItem{ Value = "YL", Text = "Youth - Large" },
                new SelectListItem{ Value = "YX", Text = "Youth - Extra Large" },
                new SelectListItem{ Value = "YX", Text = "Adult - Extra Small" },
                new SelectListItem{ Value = "YS", Text = "Adult - Small" },
                new SelectListItem{ Value = "YM", Text = "Adult - Medium" },
                new SelectListItem{ Value = "YL", Text = "Adult - Large" },
                new SelectListItem{ Value = "YX", Text = "Adult - Extra Large" },
            }, new { @class = "form-control", style = "width: 200px" })
            </div>


        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.BSType, htmlAttributes: new { @class = "control-label col-md-3" })
            @Html.DropDownListFor(model => model.BSType,
            new List<SelectListItem>{
                new SelectListItem{ Value = "", Text = "-Select Type-" },
                new SelectListItem{ Value = "TroopCrew", Text = "Troop/Crew" },
                new SelectListItem{ Value = "OAChapter", Text = "OA Chapter" },
                new SelectListItem{ Value = "Individual", Text = "Individual" }
            }, new { @class = "form-control", style = "width: 200px" })
        </div>
        <br />
        @Html.LabelFor(model => model.UnitChapterNumber, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="row">
                
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UnitChapterNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitChapterNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.VolunteerAttendingCode, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.VolunteerAttendingCode,
            new List<SelectListItem>{
                new SelectListItem{ Value = "", Text = "-Select-" },
                new SelectListItem{ Value = "FriPM", Text = "Friday Evening Only" },
                new SelectListItem{ Value = "SatOnly", Text = "Saturday Only" },
                new SelectListItem{ Value = "FriThruSun", Text = "Friday through Sunday" }
            }, new { @class = "form-control", style = "width: 200px" })
            </div>
            <br />
        <div class="row">
                
            <div class="form-group">
                @Html.LabelFor(model => model.SaturdayDinner, htmlAttributes: new { @class = "control-label col-md-3" })
                @Html.RadioButtonFor(model => model.SaturdayDinner, true, new { id = "radio_LeadContactShirtOrder_True" }) Yes
                @Html.RadioButtonFor(model => model.SaturdayDinner, false, new { id = "radio_LeadContactShirtOrder_False" }) No
                @Html.ValidationMessageFor(model => model.SaturdayDinner, "", new { @class = "text-danger" })
            </div>
            </div>

            <br />
        @Html.LabelFor(model => model.Booth, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="row">
                
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Booth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Booth, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="row">
            
            <div class="col-md-12">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <!--set default values for fields not set in initial form-->
            @Html.HiddenFor(model => model.TotalFee, new { @Value = 0 })
            @*@Html.HiddenFor(model => model.LeadContactID, new { @Value = (int)Session["lSession"] })*@
        </div>

        <hr />

            <div class="form-group pull-right">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
