@model SNCRegistration.ViewModels.Participant
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Participant Information</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    //to do: remove - testsing only
    //Session["gSession"] = 135;

    @Html.HiddenFor(model => model.GuardianID, new { @Value = (int)Session["gSession"] })

    <div class="form-group">
        @Html.LabelFor(model => model.ParticipantFirstName, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => model.ParticipantFirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ParticipantFirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ParticipantLastName, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => model.ParticipantLastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ParticipantLastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ParticipantAge, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.ParticipantAge,
            new List<SelectListItem>{
                new SelectListItem{ Value = "", Text = "-Select Age-" },
                new SelectListItem{ Value = "Under 6", Text = "Under 6" },
                new SelectListItem{ Value = "7-10", Text = "7-10" },
                new SelectListItem{ Value = "11-13", Text = "11-13" },
                new SelectListItem{ Value = "14-16", Text = "14-16" },
                new SelectListItem{ Value = "17-21", Text = "17-18" },
                new SelectListItem{ Value = "Over 21", Text = "Over 21" }
            }, new { @class = "form-control", style = "width: 220px" })
        @Html.ValidationMessageFor(model => model.ParticipantLastName, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.AttendingCode, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.AttendingCode,
             new List<SelectListItem>{
               new SelectListItem{ Value = "", Text = "-Select-" },
               new SelectListItem{ Value = "FriPM", Text = "Friday Evening Only" },
               new SelectListItem{ Value = "SatOnly", Text = "Saturday Only" },
               new SelectListItem{ Value = "FriThruSun", Text = "Friday through Sunday" }
           }, new { @class = "form-control", style = "width: 220px" })
        @Html.ValidationMessageFor(model => model.AttendingCode, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ParticipantSchool, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => model.ParticipantSchool, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ParticipantSchool, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ParticipantTeacher, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => model.ParticipantTeacher, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ParticipantTeacher, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClassroomScouting, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.RadioButtonFor(model => model.ClassroomScouting, true, new { id = "radio_ClassroomScouting_True" }) Yes
        @Html.RadioButtonFor(model => model.ClassroomScouting, false, new { id = "radio_ClassroomScouting_False" }) No
        @Html.ValidationMessageFor(model => model.ClassroomScouting, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Returning, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.RadioButtonFor(model => model.Returning, true, new { id = "radio_returning_true" }) Yes
        @Html.RadioButtonFor(model => model.Returning, false, new { id = "radio_returning_false" }) No
        @Html.ValidationMessageFor(model => model.Returning, "", new { @class = "text-danger" })
    </div>

    <div>
        <!--set default values for fields not set in initial form-->
        @Html.HiddenFor(model => model.HealthForm, new { @Value = false })
        @Html.HiddenFor(model => model.PhotoAck, new { @Value = false })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-12" })
        @Html.TextArea("Comments", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
    </div>

    <hr />

    <div class="form-group pull-right">
        <input type="submit" name="submit" id="addParticipant" value="Add another participant" class="btn btn-primary" />
    </div>
    <div class="form-group pull-right">
        <input type="submit" name="submit" id="AddFamily" value="Add a family member" class="btn btn-primary" />
    </div>
    <div class="form-group pull-right">
        <input type="submit" name="submit" id="Complete" value="Complete registration" class="btn btn-primary" />
    </div>
}


@section Scripts
        {
    @Scripts.Render("~/bundles/jqueryval")
}
