@model SNCRegistration.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Special Needs Campree Admin Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin animated slideInLeft", role = "form" }))
        {
        @Html.AntiForgeryToken()

        <h2 class="form-signin-heading">Register</h2>

        @Html.ValidationSummary("", new { @class = "text-danger" })
   
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-12 control-label" })
        
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    
     
            @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
          
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    
            @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
         
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
      
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
         
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
       
   
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" />
      
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
