@model IEnumerable<SNCRegistration.ViewModels.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participant)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Participant)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendanceID })
        </td>
    </tr>
}

</table>
