@model IEnumerable<SNCRegistration.ViewModels.CompletedRegistrationModel>

@{
    ViewBag.Title = "Completed Registrations Count Report";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("CompletedRegistrationReport", "CompletedRegistrationReport", FormMethod.Post))
    {
    <h2>Completed Registration Count Report</h2>
    <div class="row">
        <div class="col-sm-3">
            <h4>Total: @Model.Count()</h4>
        </div>
        <div class="col-sm-offset-10">
            <input type="submit" name="btnExportLicensing" value="Export To Excel" id="exportLicensing" class="btn btn-primary" />
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoAck)
            </th>
        </tr>
        @foreach (var item in Model)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HealthForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoAck)
                </td>
            </tr>
            }
    </table>
    }