@model SNCRegistration.ViewModels.LeadContactVolunteer

@{
    ViewBag.Title = "Lead Contact Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Lead Contact Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <p>Lead Contact Name </p> 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactFirstName) @Html.DisplayFor(model => model.leadContact.LeadContactLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.BSType)
        </dt>
        <dd>
            @ViewBag.bsttypedec
        </dd>    
        <dt>
            Troop/Chapter/Unit #
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leadContact.UnitChapterNumber)
        </dd>   
        <dt>
            <p>Lead Contact Address </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactAddress) <br />
            @Html.DisplayFor(model => model.leadContact.LeadContactCity), @Html.DisplayFor(model => model.leadContact.LeadContactState) @Html.DisplayFor(model => model.leadContact.LeadContactZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactCellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactCellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.VolunteerAttendingCode)
        </dt>

        <dd>
            @ViewBag.attendancedesc
        </dd>

        <dt>
            Saturday Dinner?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.SaturdayDinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.TotalFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.TotalFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.Booth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.Booth)
        </dd>


        <dt>
            Ordered Shirt?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactShirtOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactShirtSize)
        </dt>

        <dd>
            @ViewBag.shirtsizedesc
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.CheckedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leadContact.CheckedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.Comments)
        </dd>

    </dl>
</div>

<p align="right">
    <div align="right" style="margin-right:20px;">

        @if (!Model.leadContact.CheckedIn)
            {
            @Html.ActionLink("Check In", "CheckIn", new { id = Model.leadContact.LeadContactID }, new { @class = "btn btn-success" })  { <text>|</text>}

            }
        @Html.ActionLink("Edit", "Edit", new { id = Model.leadContact.LeadContactID }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.leadContact.LeadContactID }, new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Back to Lead Contact Search", "Index", "LeadContacts", new { SearchString = Session["SessionSearchString"], sortOrder = Session["SessionSortOrder"], currentFilter = Session["SessionCurrentFilter"], searchYear = Session["SessionSearchYear"], page = Session["SessionPage"] }, new { @class = "btn btn-info" })
    </div>
</p>


<hr />
<h3>Volunteer Attendees</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.volunteer.VolunteerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volunteer.VolunteerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volunteer.CheckedIn)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.volunteers)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>
            <td align="right">



                @if (!item.CheckedIn)
                {
                    @Html.ActionLink("Check In", "CheckIn", "Volunteers", new { id = item.VolunteerID }, new { @class = "btn btn-success" })

                }
                </td>
                <td>

                @Html.ActionLink("Details", "Details", "Volunteers", new { id = item.VolunteerID }, new { @class = "btn btn-info" })

            </td>
        </tr>
    }

</table>
<div style="float: right;">
    @Html.ActionLink("+ Add Additional Volunteer", "AddAdditionalVolunteer", "Volunteers", new { leaderGuid = Model.leadContact.LeaderGuid, leaderID = Model.leadContact.LeadContactID }, new { @class = "btn btn-default" })
</div>