@model SNCRegistration.ViewModels.LeadContactVolunteer

@{
    ViewBag.Title = "Lead Contact Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Lead Contact Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <p>Lead Contact Name </p> 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactFirstName) @Html.DisplayFor(model => model.leadContact.LeadContactLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.BSType)
        </dt>

        <dd>
            @if (Model.leadContact.BSType == 1)
            {
                <p>Troop/Crew</p>
            }
            else if (Model.leadContact.BSType == 2)
            {
                <p>OA Chapter</p>
            }
            else if (Model.leadContact.BSType == 3)
            {
                <p>Individual</p>
            }
        </dd>
        <dt>
            <p>Lead Contact Address </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactAddress) <br />
            @Html.DisplayFor(model => model.leadContact.LeadContactCity), @Html.DisplayFor(model => model.leadContact.LeadContactState) @Html.DisplayFor(model => model.leadContact.LeadContactZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactCellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactCellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.UnitChapterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.UnitChapterNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.VolunteerAttendingCode)
        </dt>

        <dd>
            @if (Model.leadContact.VolunteerAttendingCode == 1)
            {
                <p>Friday Evening Only</p>
            }
            else if (Model.leadContact.VolunteerAttendingCode == 2)
            {
                <p>Saturday Only</p>
            }
            else if (Model.leadContact.VolunteerAttendingCode == 4)
            {
                <p>Friday through Sunday</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.SaturdayDinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.SaturdayDinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.TotalFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.TotalFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.Booth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.Booth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactShirtOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactShirtOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leadContact.LeadContactShirtSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leadContact.LeadContactShirtSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leadContact.CheckedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leadContact.CheckedIn)
        </dd>

    </dl>
</div>

<p align="right">
    <div align="right" style="margin-right:20px;">
        @Html.ActionLink("Check In", "CheckIn", new { id = Model.leadContact.LeadContactID }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.leadContact.LeadContactID }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.leadContact.LeadContactID }, new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-info" })
    </div>
</p>


<hr />
<h3>Volunteer Attendees</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.volunteer.VolunteerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volunteer.VolunteerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volunteer.CheckedIn)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.volunteers)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>
            <td align="center">
                @Html.ActionLink("Details", "Details", "Volunteers", new { id = item.VolunteerID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Check In", "CheckIn", "Volunteers", new { id = item.VolunteerID }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>