@model SNCRegistration.ViewModels.LeadContact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Edit Lead Contact</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LeadContactID)

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactFirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactFirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactLastName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactLastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BSType)
            @Html.DropDownListFor(model => model.BSType,
                    ViewBag.bstID as SelectList, new { @class = "form-control", style = "width: 220px" })
            @Html.ValidationMessageFor(model => model.BSType, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitChapterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.UnitChapterNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitChapterNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactAddress, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactCity, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactCity, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactState, htmlAttributes: new { @class = "control-label" })<br />
            @Html.DropDownListFor(model => model.LeadContactState,
             new List<SelectListItem>
             {
                 new SelectListItem() {Text="Alabama", Value="AL"},
                    new SelectListItem() { Text="Alaska", Value="AK"},
                    new SelectListItem() { Text="Arizona", Value="AZ"},
                    new SelectListItem() { Text="Arkansas", Value="AR"},
                    new SelectListItem() { Text="California", Value="CA"},
                    new SelectListItem() { Text="Colorado", Value="CO"},
                    new SelectListItem() { Text="Connecticut", Value="CT"},
                    new SelectListItem() { Text="District of Columbia", Value="DC"},
                    new SelectListItem() { Text="Delaware", Value="DE"},
                    new SelectListItem() { Text="Florida", Value="FL", Selected=true},
                    new SelectListItem() { Text="Georgia", Value="GA"},
                    new SelectListItem() { Text="Hawaii", Value="HI"},
                    new SelectListItem() { Text="Idaho", Value="ID"},
                    new SelectListItem() { Text="Illinois", Value="IL"},
                    new SelectListItem() { Text="Indiana", Value="IN"},
                    new SelectListItem() { Text="Iowa", Value="IA"},
                    new SelectListItem() { Text="Kansas", Value="KS"},
                    new SelectListItem() { Text="Kentucky", Value="KY"},
                    new SelectListItem() { Text="Louisiana", Value="LA"},
                    new SelectListItem() { Text="Maine", Value="ME"},
                    new SelectListItem() { Text="Maryland", Value="MD"},
                    new SelectListItem() { Text="Massachusetts", Value="MA"},
                    new SelectListItem() { Text="Michigan", Value="MI"},
                    new SelectListItem() { Text="Minnesota", Value="MN"},
                    new SelectListItem() { Text="Mississippi", Value="MS"},
                    new SelectListItem() { Text="Missouri", Value="MO"},
                    new SelectListItem() { Text="Montana", Value="MT"},
                    new SelectListItem() { Text="Nebraska", Value="NE"},
                    new SelectListItem() { Text="Nevada", Value="NV"},
                    new SelectListItem() { Text="New Hampshire", Value="NH"},
                    new SelectListItem() { Text="New Jersey", Value="NJ"},
                    new SelectListItem() { Text="New Mexico", Value="NM"},
                    new SelectListItem() { Text="New York", Value="NY"},
                    new SelectListItem() { Text="North Carolina", Value="NC"},
                    new SelectListItem() { Text="North Dakota", Value="ND"},
                    new SelectListItem() { Text="Ohio", Value="OH"},
                    new SelectListItem() { Text="Oklahoma", Value="OK"},
                    new SelectListItem() { Text="Oregon", Value="OR"},
                    new SelectListItem() { Text="Pennsylvania", Value="PA"},
                    new SelectListItem() { Text="Rhode Island", Value="RI"},
                    new SelectListItem() { Text="South Carolina", Value="SC"},
                    new SelectListItem() { Text="South Dakota", Value="SD"},
                    new SelectListItem() { Text="Tennessee", Value="TN"},
                    new SelectListItem() { Text="Texas", Value="TX"},
                    new SelectListItem() { Text="Utah", Value="UT"},
                    new SelectListItem() { Text="Vermont", Value="VT"},
                    new SelectListItem() { Text="Virginia", Value="VA"},
                    new SelectListItem() { Text="Washington", Value="WA"},
                    new SelectListItem() { Text="West Virginia", Value="WV"},
                    new SelectListItem() { Text="Wisconsin", Value="WI"},
                    new SelectListItem() { Text="Wyoming", Value="WY"}
                    }, new { @class = "form-control", style = "width: 220px" })
            @Html.ValidationMessageFor(model => model.LeadContactState, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactZip, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactZip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactZip, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactCellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactCellPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactCellPhone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.LeadContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadContactEmail, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VolunteerAttendingCode)
            @Html.DropDownListFor(model => model.VolunteerAttendingCode,
                    ViewBag.AttendanceID as SelectList, new { @class = "form-control", style = "width: 220px" })
            @Html.ValidationMessageFor(model => model.VolunteerAttendingCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                @Html.LabelFor(model => model.SaturdayDinner, htmlAttributes: new { @class = "control-label" })  <br />
                @Html.ValidationMessageFor(model => model.SaturdayDinner, "", new { @class = "text-danger" })
                @if (Model.SaturdayDinner == true)
                {
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(model => model.SaturdayDinner, "True", new { name = "SaturdayDinner" }) Yes
                    </label>
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(model => model.SaturdayDinner, "False", new { name = "SaturdayDinner" }) No
                    </label>
                }
                else
                {
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(model => model.SaturdayDinner, "True", new { name = "SaturdayDinner" }) Yes
                    </label>
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(model => model.SaturdayDinner, "False", new { name = "SaturdayDinner" }) No
                    </label>

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalFee, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TotalFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalFee, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Booth, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Booth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Booth, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                @Html.LabelFor(model => model.LeadContactShirtOrder, htmlAttributes: new { @class = "control-label" })  <br />
                @Html.ValidationMessageFor(model => model.LeadContactShirtOrder, "", new { @class = "text-danger" })
                @if (Model.LeadContactShirtOrder == true)
                {
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(model => model.LeadContactShirtOrder, "True", new { name = "LeadContactShirtOrder" }) Yes
                    </label>
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(model => model.LeadContactShirtOrder, "False", new { name = "LeadContactShirtOrder" }) No
                    </label>
                }
                else
                {
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(model => model.LeadContactShirtOrder, "True", new { name = "LeadContactShirtOrder" }) Yes
                    </label>
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(model => model.LeadContactShirtOrder, "False", new { name = "LeadContactShirtOrder" }) No
                    </label>

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeadContactShirtSize)
            @Html.DropDownListFor(model => model.LeadContactShirtSize,
                    ViewBag.shirtSizeName as SelectList, new { @class = "form-control", style = "width: 220px" })
            @Html.ValidationMessageFor(model => model.LeadContactShirtSize, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                @Html.LabelFor(model => model.CheckedIn, htmlAttributes: new { @class = "control-label" })  <br />
                @Html.ValidationMessageFor(model => model.CheckedIn, "", new { @class = "text-danger" })
                @if (Model.CheckedIn == true)
                {
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                    </label>
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                    </label>
                }
                else
                {
                    <label class="btn btn-default">
                        @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                    </label>
                    <label class="btn btn-default active">
                        @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                    </label>

                }
            </div>
        </div>


        <hr />

        <div class="form-group pull-left" style="margin-left:20px;">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div class="form-group pull-right" style="margin-right:20px;">
            @Html.ActionLink("Back to Lead Contact Details", "Details", new { id = Model.LeadContactID }, new { @class = "btn btn-info" })
        </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
