@model IEnumerable<SNCRegistration.ViewModels.LeadContact>

@{
    ViewBag.Title = "Lead Contact List";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<div class="panel-body">
    <h2>Lead Contact List</h2>
</div>


@using (Html.BeginForm("Index", "LeadContacts", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadContactFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitChapterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedIn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeadContactLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadContactFirstName)
        </td>
        <td>
            @if (item.BSType == 1)
            {
                <p>Troop/Crew</p>
            }
            else if (item.BSType == 2)
            {
                <p>OA Chapter</p>
            }
            else if (item.BSType == 3)
            {
                <p>Individual</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitChapterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Booth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedIn)
        </td>
        <td>
        <td>@Html.ActionLink("Details", "Details", new { id = item.LeadContactID }, new { @class = "btn btn-info" })</td>
        <td align="center"></td>
    </tr>
}

</table>
