@model IEnumerable<SNCRegistration.ViewModels.VolunteersFridayOnlyModel>

@{
    ViewBag.Title = "Volunteers Report";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("VolunteersFridayOnly", "VolunteersFridayOnly", FormMethod.Post))
    {


    <h2>Volunteers Friday Only Report</h2>
    <div class="row">
        <div class="col-sm-3">
            <h4>Total: @Model.Count()</h4>
        </div>
        <div class="col-sm-offset-10">
            <input type="submit" name="btnExportLicensing" value="Export To Excel" id="exportLicensing" class="btn btn-primary" />

        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
        @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
            }

    </table>
    }