@model SNCRegistration.ViewModels.FamilyMember

@{
    ViewBag.Title = "Check In Participant";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Check In Family Member</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FamilyMemberID)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FamilyMemberFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FamilyMemberFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FamilyMemberLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FamilyMemberLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HealthForm)
            </dt>
            <dd>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        @Html.ValidationMessageFor(model => model.HealthForm, "", new { @class = "text-danger" })
                        @if (Model.HealthForm == true)
                {
                            <label class="btn btn-default active">
                                @Html.RadioButtonFor(model => model.HealthForm, "True", new { name = "HealthForm" }) Yes
                            </label>
                            <label class="btn btn-default">
                                @Html.RadioButtonFor(model => model.HealthForm, "False", new { name = "HealthForm" }) No
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default">
                                @Html.RadioButtonFor(model => model.HealthForm, "True", new { name = "HealthForm" }) Yes
                            </label>
                            <label class="btn btn-default active">
                                @Html.RadioButtonFor(model => model.HealthForm, "False", new { name = "HealthForm" }) No
                            </label>

                        }
                    </div>
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhotoAck)
            </dt>
            <dd>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        @Html.ValidationMessageFor(model => model.PhotoAck, "", new { @class = "text-danger" })
                        @if (Model.PhotoAck == true)
                {
                            <label class="btn btn-default active">
                                @Html.RadioButtonFor(model => model.PhotoAck, "True", new { name = "PhotoAck" }) Yes
                            </label>
                            <label class="btn btn-default">
                                @Html.RadioButtonFor(model => model.PhotoAck, "False", new { name = "PhotoAck" }) No
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default">
                                @Html.RadioButtonFor(model => model.PhotoAck, "True", new { name = "PhotoAck" }) Yes
                            </label>
                            <label class="btn btn-default active">
                                @Html.RadioButtonFor(model => model.PhotoAck, "False", new { name = "PhotoAck" }) No
                            </label>

                        }
                    </div>
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AttendingCode)
            </dt>
            <dd>
                @ViewBag.attende
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>
            <dt>
                @Html.LabelFor(model => model.CheckedIn, htmlAttributes: new { @class = "control-label" })  <br />
                @Html.ValidationMessageFor(model => model.CheckedIn, "", new { @class = "text-danger" })
            </dt>
            <dd>
                <div class="btn-group" data-toggle="buttons">

                    @if (Model.CheckedIn == true)
                {
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                        </label>
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                        </label>
                    }
                    else
                    {
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                        </label>
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                        </label>

                    }
                </div>
            </dd>

        </dl>



    </div>

    <p align="right">
        <div align="right" style="margin-right:20px;">
            <input type="submit" value="Save" class="btn btn-primary" /> |
            @if (ViewContext.HttpContext.User.IsInRole("SystemAdmin"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMemberID }, new { @class = "btn btn-info" }) { <text>|</text>}
            }
            else if (ViewContext.HttpContext.User.IsInRole("FullAdmin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMemberID }, new { @class = "btn btn-info" }) { <text>|</text>}
            }
            @Html.ActionLink("Back to Guardian Details", "Details", "Guardians", new { id = Model.GuardianID }, new { @class = "btn btn-info" })

        </div>

        @if (TempData["notice"] != null)
                {
    <p style="color:green;">@TempData["notice"]</p> }

     </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
