@model SNCRegistration.ViewModels.FamilyMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Family Member Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyMemberFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMemberFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMemberLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMemberLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoAck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoAck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendingCode)
        </dt>

        <dd>
            @if (Model.AttendingCode == 2)
            {
                <p>Saturday Only</p>
            }
            else if (Model.AttendingCode == 3)
            {
                <p>Overnight</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMemberID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.FamilyMemberID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to Guardian", "Details", "Guardians", new { id = Model.GuardianID }, new { @class = "btn btn-info" })
</p>
