@*@model IEnumerable<SNCRegistration.ViewModels.Guardian>*@
@model PagedList.IPagedList<SNCRegistration.ViewModels.Guardian>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Guardian";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="panel-body">
    <h2>Guardians List</h2>
</div>

@using (Html.BeginForm("Index", "Guardians", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)  &nbsp;&nbsp;  | &nbsp;&nbsp; 
        Event year: @Html.DropDownList("searchYear", new SelectList(ViewBag.AllYears, ViewBag.CurrentYear))
        <input type="submit" value="Search" />
    </p>


}

<br />

<h3>Results</h3>
<table class="table table-condensed table-striped">

    <tr>
        <th>
            Year Enrolled
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort })
        </th>
        <th>
            First Name
        </th>
        <th >
            Health Form?
        </th>
        <th>
            Photo Acknowledgement
        </th>
        <th>
            Checked In?
        </th>        

        <th>

        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="center">
            @Html.DisplayFor(modelItem => item.EventYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianFirstName)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.HealthForm)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.PhotoAck)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.CheckedIn)
        </td>



        <td>
            @if (!item.CheckedIn)
            {
                @Html.ActionLink("Check In", "CheckIn", new { id = item.GuardianID }, new { @class = "btn btn-success" }) 

            }           
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.GuardianID }, new { @class = "btn btn-info" }) 

        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort }))
