@model IEnumerable<SNCRegistration.ViewModels.WristBandCountModel>

@{
    ViewBag.Title = "Wristband Count Report";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("WristBandCount", "WristBandCount", FormMethod.Post))
    {


    <h2>Wristband Count Report</h2>
    <div class="row">
        <div class="col-sm-3">
           
        </div>
        <div class="col-sm-9 text-right">
            <div class="col-sm-7"><h4>Select Event Year:</h4></div>
            <div class="col-sm-2">@Html.DropDownList("eventYear", new SelectList(ViewBag.ddlEventYears), new { @class = "form-control", onchange = "updateGrid()" })</div>
            <input type="submit" name="btnExportLicensing" value="Export To Excel" id="exportLicensing" class="btn btn-primary" />
        </div>
    </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitChapterNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VolunteerFirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VolunteerLastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeadContactFirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeadContactLastName)
                        </th>
                      
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("_PartialWristBandCountList", Model)
                </tbody>
            </table>
    }


@section scripts{
    <script>
        function updateGrid() {
            $.post('/WristBandCount/GetWristBandCountByYear', { eventYear: $('#eventYear').val() }, function (data) {
                $('table tbody').html(data);
            })
        }
    </script>
} 