<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Special Needs Camporee</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>
<body>
    <!-- Navigation -->
    @Html.Partial("_Layout_Nav")


    <!-- Header -->

    <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="banner">
                </div>
                <div class="col-sm-2">
                    <!-- Left column -->
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><span class="glyphicon glyphicon-wrench"></span> Tools</h4></div>
                        <div class="panel-body">
                            <ul class="nav nav-stacked">
                                <li class="nav-header">
                                    <ul class="nav nav-stacked collapse in">
                                        <li><a href="@Url.Action("Index", "Home")"><em class="glyphicon glyphicon-home"></em> Home</a></li>
                                    </ul>
                                    <ul class="nav nav-stacked collapse in">
                                        <li><a href="@Url.Action("Index", "Manage")"><em class="glyphicon glyphicon-cog"></em> Manage Your Account</a></li>
                                    </ul>
                                    @if (ViewContext.HttpContext.User.IsInRole("SystemAdmin"))
                                    {
                                        <ul class="nav nav-stacked collapse in">
                                            <li><a href="@Url.Action("ManageUsers", "Admin")"><em class="glyphicon glyphicon-user"></em> Manage Admin Users</a></li>
                                        </ul>
                                        <ul class="nav nav-stacked collapse in">
                                            <li><a href="@Url.Action("PDFFileManagement", "Admin")"><em class="glyphicon glyphicon-user"></em> PDF File Management</a></li>
                                        </ul>
                                        <ul class="nav nav-stacked collapse in">
                                            <li><a href="@Url.Action("SponsorImageFileManagement", "Admin")"><em class="glyphicon glyphicon-user"></em> Sponsor Image Management</a></li>
                                        </ul>
                                    }

                                   

                                <li class="nav-header">
                                    <a href="#" data-toggle="collapse" data-target="#menu1"><em class="glyphicon glyphicon-th-list"></em> Manage Attendees<i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <ul class="nav nav-stacked collapse" id="menu1">
                                        <li>
                                            <a href="@Url.Action("Index", "Guardians")"><em class="glyphicon glyphicon-user"></em> Guardians</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Participants")"><em class="glyphicon glyphicon-user"></em> Participants</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "LeadContacts")"><em class="glyphicon glyphicon-user"></em> Lead Contacts</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Volunteers")"><em class="glyphicon glyphicon-user"></em> Volunteers</a>
                                        </li>
                                    </ul>


                                </li>


                                <li class="nav-header">
                                    <a href="#" data-toggle="collapse" data-target="#menu2"><em class="glyphicon glyphicon-stats"></em> Reports<i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <ul class="nav nav-stacked collapse" id="menu2">
                                        <li>
                                            <a href="@Url.Action("Index", "Dashboard")"><em class="glyphicon glyphicon-dashboard"></em> Dashboard</a>
                                        </li>
                       
                                    </ul>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                            </ul>
                            </div>
                        </div>
                        </div>
                        <!-- /col-3 -->
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <!-- Dashboard panel contents -->
                        <div class="panel-heading"><h3><span class="glyphicon glyphicon-dashboard"></span> Dashboard</h3></div>
                            <div class="panel-body">
                                @RenderBody()
                            </div>
                        </div>
                     </div>
                </div>
          </div>
                    <!--/col-span-9-->
                </div>
                    <!-- /Main -->
                   
    <!-- Footer -->
    @Html.Partial("_Layout_Footer")

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
</body>
</html>
