@model IEnumerable<SNCRegistration.ViewModels.CompletedRegistrationModel>

@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Registrant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoAck)
        </td> 
    </tr>
   
    }