@model IEnumerable<SNCRegistration.ViewModels.FutureEventsModel>

<tr>
    <td colspan="3">
        <h4>Total: @Model.Count()</h4>
    </td>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LeadContactFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadContactLastName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.BSDescription)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.UnitChapterNumber)
        </td>
    </tr>
}
