@model SNCRegistration.ViewModels.Volunteer

@{
    ViewBag.Title = "Check In Volunteer";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Check In Volunteer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VolunteerID)
        @Html.HiddenFor(model => model.LeadContactID)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VolunteerFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VolunteerLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BSType)
            </dt>
            <dd>
                @ViewBag.bsttypedec
            </dd>
            <dt>
                TCU Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnitChapterNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerAge)
            </dt>
            <dd>
                @ViewBag.agereal
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerShirtOrder)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VolunteerShirtOrder)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerShirtSize)
            </dt>
            <dd>
                @ViewBag.shirtsizedesc
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerAttendingCode)
            </dt>
            <dd>
                @ViewBag.attendancedesc
            </dd>
            <dt>
                Saturday Dinner?
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SaturdayDinner)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>
            <dt>
                @Html.LabelFor(model => model.CheckedIn, htmlAttributes: new { @class = "control-label" })  <br />
                @Html.ValidationMessageFor(model => model.CheckedIn, "", new { @class = "text-danger" })
            </dt>

            <dd>
                <div class="btn-group" data-toggle="buttons">

                    @if (Model.CheckedIn == true)
                {
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                        </label>
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                        </label>
                    }
                    else
                    {
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                        </label>
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                        </label>

                    }
                </div>
            </dd>

            </dl>

</div>


<p>
    <input type="submit" value="Save" class="btn btn-primary" /> |
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to Volunteer Search", "Index", "Volunteers", new {SearchString = Session["SessionSearchString"], sortOrder = Session["SessionSortOrder"], currentFilter = Session["SessionCurrentFilter"], searchYear = Session["SessionSearchYear"], page = Session["SessionPage"] }, new { @class = "btn btn-info" })
</p>

}
@Html.Raw(Session["SessionVolSearch"])


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
