@model SNCRegistration.ViewModels.Volunteer

@{
    ViewBag.Title = "Volunteer Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Volunteer Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VolunteerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerShirtOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerShirtOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerShirtSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerShirtSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolunteerAttendingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolunteerAttendingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturdayDinner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturdayDinner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitChapterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitChapterNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckedIn)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.VolunteerID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to Volunteer Search", "Index", "Volunteers", new { }, new { @class = "btn btn-info" })
</p>
