@model PagedList.IPagedList<SNCRegistration.ViewModels.LeadContactBST>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="panel-body">
    <h2>Volunteer List</h2>
</div>


@using (Html.BeginForm("Index", "Volunteers", FormMethod.Get))
{
    <p>
        Find by name or TCU (Troop/Chapter/Unit): @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) &nbsp;&nbsp;  | &nbsp;&nbsp;
        Event year: @Html.DropDownList("searchYear", new SelectList(ViewBag.AllYears, ViewBag.CurrentYear))
        <input type="submit" value="Search" />
    </p>

}

<table class="table table-condensed table-striped">
    <tr>
        <th align="center">
            <text>Last Name</text> @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort })
        </th>
        <th align="center">
            First Name
        </th>
        <th>
            <text>TCU Type</text> @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.TcuTypeSortParam, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort })
        </th>
        <th align="center">
            <text>TCU Number</text> @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.TcuNumSortParam, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort })
        </th>
        <th align="center">
            Checked In?
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.volunteer.VolunteerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volunteer.VolunteerFirstName)
            </td>
            <td>

                @if (item.volunteer.BSType == 1)
                {<p>Individual</p>}
                else if (item.volunteer.BSType == 2)
                {<p>Troop</p>}
                else if (item.volunteer.BSType == 3)
                {<p>Troop - WoodBridge</p>}
                else if (item.volunteer.BSType == 4)
                {<p>OA Chapter: Apieka - Alachua District</p>}
                else if (item.volunteer.BSType == 5)
                {<p>OA Chapter: Seminole - Baden Powell District</p>}
                else if (item.volunteer.BSType == 6)
                {<p>OA Chapter: Timucuan - Black Creek District</p>}
                else if (item.volunteer.BSType == 7)
                {<p>OA Chapter: Oglala - Great Muskogee District</p>}
                else if (item.volunteer.BSType == 8)
                {<p>OA Chapter: Oklawaha - Marion District</p>}
                else if (item.volunteer.BSType == 9)
                {<p>OA Chapter: Osceola - Osceola & Timucua Districts</p>}
                else if (item.volunteer.BSType == 10)
                {<p>OA Chapter: Elemukulek - River Bend District</p>}
                else if (item.volunteer.BSType == 11)
                {<p>OA Chapter: Saturiwa - Shawnee District</p>}
                else if (item.volunteer.BSType == 12)
                {<p>OA Chapter: Onathequa - Suwannee River District</p>}


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volunteer.UnitChapterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volunteer.CheckedIn)
            </td>

            <td align="right">
                @if (!item.volunteer.CheckedIn)
                {
                    @Html.ActionLink("Check In", "CheckIn", new { id = item.volunteer.VolunteerID }, new { @class = "btn btn-success" })

                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.volunteer.VolunteerID }, new { @class = "btn btn-info" })

            </td>


        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort }))


@Html.Raw(Session["SessionVolSearch"])