@*@model IEnumerable<SNCRegistration.ViewModels.Volunteer>*@ @*<Original, delete if nothing wrong*@
@model  PagedList.IPagedList<SNCRegistration.ViewModels.Volunteer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="panel-body">
    <h2>Volunteer List</h2>
</div>


@using (Html.BeginForm("Index", "Volunteers", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}

<table class="table table-condensed table-striped">
    <tr>
        <th align="center">
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th align="center">
            First Name
        </th>
        <th align="center">
            Age
        </th>
        <th align="center">
            School
        </th>
        <th align="center">
            Checked In?
        </th>
        <th>
            Details
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitChapterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>


            <td>@Html.ActionLink("Details", "Details", new { id = item.VolunteerID })</td>
            <td align="center">@Html.ActionLink("Check In", "CheckIn", new { id = item.VolunteerID }, new { @class = "btn btn-info" })</td>

        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




@*Code below is original index. Delete if nothing wrong.*@
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadContactID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerShirtOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerShirtSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerAttendingCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaturdayDinner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitChapterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadContactID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerShirtOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerShirtSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerAttendingCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaturdayDinner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitChapterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VolunteerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VolunteerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VolunteerID })
        </td>
    </tr>
}


</table>*@
@*<td>@Html.ActionLink("Edit", "Edit", new { id=item.ParticipantID })</td>*@
@*<td>@Html.ActionLink("Delete", "Delete", new { id=item.ParticipantID })</td>*@