@*@model IEnumerable<SNCRegistration.ViewModels.Volunteer>*@ @*<Original, delete if nothing wrong*@
@model  PagedList.IPagedList<SNCRegistration.ViewModels.Volunteer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Volunteers";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="panel-body">
    <h2>Volunteer List</h2>
</div>


@using (Html.BeginForm("Index", "Volunteers", FormMethod.Get))
{
    <p>
        Find by name or TCU (Troop/Chapter/Unit): @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) &nbsp;&nbsp;  | &nbsp;&nbsp;
        Event year: @Html.DropDownList("searchYear", new SelectList(ViewBag.AllYears, ViewBag.CurrentYear))
        <input type="submit" value="Search" />
    </p>

}

<table class="table table-condensed table-striped">
    <tr>
        <th align="center">
            <text>Last Name</text> @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort })
        </th>
        <th align="center">
            First Name
        </th>
        <th align="center">
            <text>TCU Number</text> @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.TcuNumSortParam, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort })
        </th>
        <th align="center">
            Checked In?
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitChapterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>

            <td>
                @if (!item.CheckedIn)
                {
                    @Html.ActionLink("Check In", "CheckIn", new { id = item.VolunteerID }, new { @class = "btn btn-success" })

                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VolunteerID }, new { @class = "btn btn-info" })

            </td>


        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchYear = ViewBag.currentYearSort }))

