@model SNCRegistration.ViewModels.Guardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guardian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GuardianFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacketSentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacketSentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationSentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationSentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoAck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoAck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuardianID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
