@model SNCRegistration.ViewModels.Participant

@{
    ViewBag.Title = "Check In Participant";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Check In Participant</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Participant</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ParticipantID)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParticipantFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParticipantFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParticipantLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParticipantLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParticipantAge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParticipantAge)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParticipantSchool)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParticipantSchool)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParticipantTeacher)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParticipantTeacher)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClassroomScouting)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClassroomScouting)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HealthForm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HealthForm)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhotoAck)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhotoAck)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AttendingCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AttendingCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>
            <dt>
                @Html.LabelFor(model => model.CheckedIn, htmlAttributes: new { @class = "control-label" })  <br />
                @Html.ValidationMessageFor(model => model.CheckedIn, "", new { @class = "text-danger" })
            </dt>
            <dd>
                <div class="btn-group" data-toggle="buttons">

                    @if (Model.CheckedIn == true)
                {
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                        </label>
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                        </label>
                    }
                    else
                    {
                        <label class="btn btn-default">
                            @Html.RadioButtonFor(model => model.CheckedIn, "True", new { name = "CheckedIn" }) Yes
                        </label>
                        <label class="btn btn-default active">
                            @Html.RadioButtonFor(model => model.CheckedIn, "False", new { name = "CheckedIn" }) No
                        </label>

                    }
                </div>
            </dd>

        </dl>



    </div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" /> |
            @Html.ActionLink("Edit", "Edit", new { id = Model.ParticipantID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Back to Guardian", "Details", "Guardians", new { id = Model.GuardianID }, new { @class = "btn btn-info" })
        </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
