@model SNCRegistration.ViewModels.Participant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Participant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParticipantFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantTeacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassroomScouting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassroomScouting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoAck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoAck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Edit", "Edit", new { id = Model.ParticipantID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ParticipantID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
