@model SNCRegistration.ViewModels.GuardianParticipantFamily


@{
    ViewBag.Title = "Participant Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Volunteer Details</h2>

@using (Html.BeginForm("Participants", "Details", FormMethod.Post))
{
    @Html.DisplayNameFor(model => model.participant.ParticipantFirstName)
    @Html.DisplayFor(model => model.participant.ParticipantFirstName)
}



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantFirstName)
        
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantTeacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ClassroomScouting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ClassroomScouting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.HealthForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.HealthForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.PhotoAck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.PhotoAck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.AttendingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.AttendingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.CheckedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.participant.CheckedIn)
        </dd>

    </dl>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-info" })
</p>


@*
    original list, saved
    <dt>
    @Html.DisplayNameFor(model => model.ParticipantFirstName)
</dt>
<dd>
    @Html.DisplayFor(model => model.ParticipantFirstName)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.ParticipantLastName)
</dt>
<dd>
    @Html.DisplayFor(model => model.ParticipantLastName)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.ParticipantAge)
</dt>
<dd>
    @Html.DisplayFor(model => model.ParticipantAge)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.ParticipantSchool)
</dt>
<dd>
    @Html.DisplayFor(model => model.ParticipantSchool)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.ParticipantTeacher)
</dt>
<dd>
    @Html.DisplayFor(model => model.ParticipantTeacher)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.ClassroomScouting)
</dt>
<dd>
    @Html.DisplayFor(model => model.ClassroomScouting)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.HealthForm)
</dt>
<dd>
    @Html.DisplayFor(model => model.HealthForm)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.PhotoAck)
</dt>
<dd>
    @Html.DisplayFor(model => model.PhotoAck)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.AttendingCode)
</dt>
<dd>
    @Html.DisplayFor(model => model.AttendingCode)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.GuardianID)
</dt>
<dd>
    @Html.DisplayFor(model => model.GuardianID)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Comments)
</dt>
<dd>
    @Html.DisplayFor(model => model.Comments)
</dd>
    </dl>*@