@model SNCRegistration.ViewModels.GuardianParticipantFamily

@{
    ViewBag.Title = "Participant Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Participant Details</h2>

@using (Html.BeginForm("Participants", "Details", FormMethod.Post))
{
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantFirstName)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantAge)
        </dt>

        <dd>
            @ViewBag.agedesc
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ParticipantTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ParticipantTeacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.ClassroomScouting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.ClassroomScouting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.HealthForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.HealthForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.PhotoAck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.PhotoAck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.AttendingCode)
        </dt>

        <dd>
            @ViewBag.attend
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participant.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participant.CheckedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.participant.CheckedIn)
        </dd>

    </dl>

    <p align="right">
        <div align="right" style="margin-right:20px;">
           @if (!Model.participant.CheckedIn)
           {

            @Html.ActionLink("Check In", "CheckIn", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-success" })                { <text>| </text>}
            }
        @if (ViewContext.HttpContext.User.IsInRole("SystemAdmin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-info" })  { <text>| </text>}
                    @Html.ActionLink("Delete", "Delete", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-danger" })  { <text>| </text>}
        }
        else if (ViewContext.HttpContext.User.IsInRole("FullAdmin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-info" })  { <text>| </text>}
            @Html.ActionLink("Delete", "Delete", new { id = Model.participant.ParticipantID }, new { @class = "btn btn-danger" })  { <text>| </text>}
        }
            @Html.ActionLink("Back to Guardian", "Details", "Guardians", new { id=Model.participant.GuardianID}, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Back to Participant Search", "Index", "Participants", new { SearchString = Session["SessionSearchString"], sortOrder = Session["SessionSortOrder"], currentFilter = Session["SessionCurrentFilter"], searchYear = Session["SessionSearchYear"], page = Session["SessionPage"] }, new { @class = "btn btn-info" })
        </div>
    </p>

    <hr />
    <h3>Related Guardian</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.guardian.GuardianFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guardian.GuardianLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guardian.HealthForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guardian.PhotoAck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guardian.CheckedIn)
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model.guardians)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GuardianFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuardianLastName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.HealthForm)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PhotoAck)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckedIn)
                </td>
                <td align="right">
                    @if (!item.CheckedIn)
                    {
                        @Html.ActionLink("Check In", "CheckIn", "Guardians", new { id = item.GuardianID }, new { @class = "btn btn-success" })
                    }
                </td>
                <td align="center">
                    @Html.ActionLink("Details", "Details", "Guardians", new { id = item.GuardianID }, new { @class = "btn btn-info" })

                </td>

            </tr>
        }

    </table>




    <hr />
    <h3>Related Participants</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.participant.ParticipantFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.participant.ParticipantLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.participant.HealthForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.participant.PhotoAck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.participant.CheckedIn)
            </th>

            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.relatedparticipants)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantLastName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.HealthForm)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PhotoAck)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckedIn)
                </td>
                <td align="right">

                    @if (!item.CheckedIn)
                    {
                        @Html.ActionLink("Check In", "CheckIn", "Participants", new { id = item.ParticipantID }, new { @class = "btn btn-success" })
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Participants", new { id = item.ParticipantID }, new { @class = "btn btn-info" })
                </td>

            </tr>
        }

    </table>

    

    <hr />
    <h3>Related Family Members</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.familymember.FamilyMemberFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.familymember.FamilyMemberLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.familymember.HealthForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.familymember.PhotoAck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.familymember.CheckedIn)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.familymembers)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyMemberFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyMemberLastName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.HealthForm)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PhotoAck)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckedIn)
                </td>
                <td align="right">
                    @if (!item.CheckedIn)
                    {
                        @Html.ActionLink("Check In", "CheckIn", "FamilyMembers", new { id = item.FamilyMemberID }, new { @class = "btn btn-success" })
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "FamilyMembers", new { id = item.FamilyMemberID }, new { @class = "btn btn-info" })
                </td>

            </tr>
        }

    </table>




</div>
