@*@model IEnumerable<SNCRegistration.ViewModels.Participant>*@
@model PagedList.IPagedList<SNCRegistration.ViewModels.Participant>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Participants";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="panel-body">
    <h2>Participants</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

@using (Html.BeginForm("Index", "Participants", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}



<table class="table table-condensed table-striped">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>
    
    @*<tr>
        <th>
           @Html.DisplayNameFor(model => model.ParticipantLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantTeacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomScouting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Returning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoAck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendingCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>Edit</th>
        <th>Details</th>
        <th>Delete</th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantSchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantTeacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassroomScouting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Returning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoAck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendingCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>@Html.ActionLink("Edit", "Edit", new { id=item.ParticipantID })</td>
        <td>@Html.ActionLink("Details", "Details", new { id=item.ParticipantID })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id=item.ParticipantID })</td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
