@model List<string>


@{
    ViewBag.Title = "SNCR PDF File Management";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("UploadPDF", "Admin", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div>
        <fieldset>
            <h2>Upload a PDF</h2>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="UploadPDF" />
            </div>
            <br />
        </fieldset>
        @ViewBag.PDFMessage
    </div>

}

<h2>Uploaded PDF Files</h2>
<table>
    <tr>
        <th>File Name</th>
        <th>Link</th>
    </tr>
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @Model[i].ToString()
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadPDF", new { FileName = @Model[i].ToString() })
            </td>
            <td>
                @Html.ActionLink("Delete File", "DeletePDFFile", new { FileName = @Model[i].ToString() })
            </td>
        </tr>
    }
</table>

@*@using (Html.BeginForm("UploadSponsorImage", "Admin", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div>
        <br />
        <fieldset>
            <legend>Upload a Sponsor Image</legend>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="UploadSponsorImage" />
            </div>
            <br />
            <div class="alert alert-info">
                @ViewBag.IMGMessage
            </div>
        </fieldset>
    </div>
}*@