@model List<string>


@{
    ViewBag.Title = "SNCR PDF File Management";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<h2>Before uploading a PDF please note!</h2>
<ul>

    <li>Files must be in PDF format.</li>
    <li>There are five (5) PDF files that the SNCR utilizes, they must all be uploaded and named exactly as listed below with the correct extensions.</li>
    <li>
        The five (5) required files are as follows
        <ul>
            <li>MediaRelease.pdf - The media release given to camporee participants</li>
            <li>ParticipantHealthForm.pdf - The Health Form given to camporee participants</li>
            <li>ParticipantWelcomePacket.pdf - The welcome letter given to camporee participants</li>
            <li>VolunteerHealthForm.pdf - The health release form given to volunteers</li>
            <li>VolunteerInformation.pdf - The camp leader guide letter given to volunteers</li>
        </ul>
    </li>
    <li>Uploading a PDF file with the same name as a PDF that is currently uploaded will overwrite the uploaded PDF. So it is not necessary to delete a PDF first in order to replace it.</li>
</ul>

@using (Html.BeginForm("UploadPDF", "Admin", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div>
        <fieldset>
            <h2>Upload a PDF</h2>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="UploadPDF" />
            </div>
            <br />
        </fieldset>
        @ViewBag.PDFMessage
    </div>

}

<h2>Uploaded PDF Files</h2>

<br />

<table class="table table-condensed table-striped">
    <tr>
        <th>File Name</th>

        <th>Link</th>

        <th>Delete File?</th>
    </tr>
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @Model[i].ToString()
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadPDF", new { FileName = @Model[i].ToString() })
            </td>
            <td>
                @Html.ActionLink("Delete File", "DeletePDFFile", new { FileName = @Model[i].ToString() })
            </td>
        </tr>
    }
</table>
