@model List<string>


@{
    ViewBag.Title = "SNCR Spnosor Image File Uploader";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Before uploading a sponsor image please note!</h2>
<ul>

    <li>Files must be in .PNG format.</li>
    <li>There are eight (8) .PNG files that SNCR uses for sponsor images, they must all be uploaded and named exactly as listed below with the correct extensions.</li>
    <li>
        The eight (8) required .PNG should be saved as such:
        <ul>
            <li>Sponsor1.png</li>
            <li>Sponsor2.png</li>
            <li>...</li>
            <li>...</li>
            <li>Sponsor7.png</li>
            <li>Sponsor8.png</li>
        </ul>
    </li>
    <li>Note that all 8 images need to be uploaded. If is only one sponsors then all files should be of that one sponsor.</li>
</ul>


@using (Html.BeginForm("UploadSponsorImage", "Admin", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div>
        <fieldset>
            <h2>Upload a Sponsor Image</h2>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="UploadSponsorImage" />
            </div>
            <br />
        </fieldset>
        @ViewBag.IMGMessage
    </div>

}

<h2>Uploaded Sponsor Image Files</h2>
<table class="table table-condensed table-striped">
    <tr>
        <th>File Name</th>
        <th>Link</th>
    </tr>
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @Model[i].ToString()
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadIMG", new { FileName = @Model[i].ToString() })
            </td>
            <td>
                @Html.ActionLink("Delete File", "DeleteImgFile", new { FileName = @Model[i].ToString() })
            </td>
        </tr>
    }
</table>

@*@using (Html.BeginForm("UploadSponsorImage", "Admin", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div>
        <br />
        <fieldset>
            <legend>Upload a Sponsor Image</legend>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="UploadSponsorImage" />
            </div>
            <br />
            <div class="alert alert-info">
                @ViewBag.IMGMessage
            </div>
        </fieldset>
    </div>
}*@